  <script src="/scripts/trip_result.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI19wnbHIh6JDz7IanAKOzySUQ_uqrNqo&libraries=places&callback=initialize"></script> 
  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">TripWale</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#/explore">Explore</a></li>
            <li><a href="#/trips">View all trips</a></li>
            <li><a href="#/users/profile/{{user._id}}">Welcome {{user.name}}</a></li>
            
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Trip</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form >
        <div class="form-group">
          <label>City</label>
          <div class="locationField">
            <input id="autocomplete" type="text" class="form-control" ng-model="trip.city" placeholder="enter city name to traval">
          </div>
        </div>

        <div class="form-group">
          <label>Start Point</label>
        </div>

        <div class="form-group">
          <label>Start Point</label>
          <div class="locationField">
            <input type="text" id="autocomplete2" class="form-control" ng-model="trip.startpoint" placeholder="Enter place">
          </div>
        </div>

        <div class="form-group">
          <p><b>Select multiple places: </b></p>
          <select multiple ng-model="trip.sights" class="form-control" id="populateplaces">
          </select>
        </div>
        <div class="form-group">
          <label>Query</label>
          <div class="locationField">
            <input id="autocomplete3" type="text" class="form-control" ng-model="trip.endpoint" placeholder="Endpoints">
          </div>
         
        </div>
        <div class="form-group">
          <label>Trip rating</label>
          <select ng-model="trip.rating" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

       
        
        <button onclick="processwaypoints()"  id="showresult" class="btn btn-default">Get directions</button>
      </form>
    </div>
    </div>
  </div>
      </div>
</div>


<div class="container">
<div class="jumbotron" id="mapcontainer">
   <div id="map"></div>
</div> 
</div>

<div class="jumbotron">
<div class="container">



<h3> You will be goin to these places.. </h3>

<div id="populateplacedetails">
  
</div>

</div></div>

<div class="container">
  <button type="submit"  ng-click="addTrip()"  class="btn btn-default">Plan this trip</button>
   <div class="col-md-12" id="directions-panel"></div>
</div>



    