<a href="#/trips">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Trip</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addTrip()">
        <div class="form-group">
          <label>serid</label>
          <input type="text" class="form-control" ng-model="trip.userid" placeholder="Title">
        </div>
        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" ng-model="trip.city" placeholder="Author">
        </div>
        <div class="form-group">
          <label>Trip Places</label>
          <select multiple ng-model="trip.places" class="form-control">
            <option value="alcatraz">alcatraz</option>
            <option value="twin peaks">twin peaks</option>
            <option value="downtown">downtown</option>
            <option value="golden gate">golden gate</option>
            <option value="chinatown">chinatown</option>
          </select>
        </div>
        <div class="form-group">
          <label>Trip rating</label>
          <select ng-model="trip.rating" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>




       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>