    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">TripWale</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/trips/add"> GO Travel</a></li>
            <li><a href="#/explore">Explore</a></li>  

            <li><a href="#/users/profile/{{user._id}}">Welcome {{user.name}}</a></li>
            
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
<div class="panel panel-default" ng-init="getTrips()">
  <div class="panel-heading">
    <h3 class="panel-title">All trips</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="trip in trips">
    	

          <div class=" col-lg-3 col-md-6 col-sm-6 col-xs-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                                   <a href="#/trips/details/{{trip._id}}"> <img src="{{trip.sightsdetails[0].photo}}"></a>
                                    <hr style="border: 1px solid #666" />​
                                    <h4>{{trip.city}}</h4>
                                    <p>Travelled by: {{trip._user.name}}</p>
                                </div>
                                <div class="panel-body">
                                       Places travelled:
                                      <ul>
                                        <li ng-repeat="sights in trip.sightsdetails">{{sights.name}}</li>
                                      </ul>

                                       <hr>
                                    <p id="proj_desc">Date Travelled: {{trip.create_date | date : longDate : timezone}}</p>
                                    
                                    <a class="btn btn-primary" href="#/trips/details/{{trip._id}}">View Details</a>
                                </div>


                        </div>
                        </div>




    		
    			
    			
    			

    	
    	</div>
    </div>
  </div>
</div>
</div>