  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI19wnbHIh6JDz7IanAKOzySUQ_uqrNqo&libraries=places&callback=initialize3"></script> 
  <script src="/scripts/explorer.js"></script>


     <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#/">TripWale</a>
          <ul class="nav navbar-nav float-sm-right">

            <li class="nav-item"><a href="#/explore">Explore</a></li>
            <li class="nav-item"><a href="#/trips">View all trips</a></li>
            <li class="nav-item"><a href="#/users/profile/{{user._id}}">Welcome {{user.name}}</a></li>    

          </ul>
        </div>
      </nav>
<br> <br>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Trip</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form >
      
        <div class="form-group">
          <label>City</label>
          <div class="locationField">
            <input id="autocomplete4" type="text" class="form-control"  placeholder="enter city name to traval">
          </div>
        </div>

        <div class="form-group">
          <label>Query</label>
          <div class="locationField">
            <input id="queri" type="text" class="form-control"  placeholder="Enter something you like ( Eg: food, hike, bars, beach )">
          </div>
        </div>



       
        
        <button onclick="processplaces()"  id="showresult" class="btn btn-default">Explore options</button>
      </form>
    </div>
    </div>
  </div>
      </div>
</div>

<div class="container">
<div class="jumbotron">
<div class="container">




<h3> Your result details are:</h3>

<div id="populateexplore">
  
</div>

</div></div></div>


<div class="container">
<div class="jumbotron" id="mapcontainer">
  <div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>
</div> 
</div>






    