

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI19wnbHIh6JDz7IanAKOzySUQ_uqrNqo&libraries=places&callback=initialize4"></script> 
<script src="/scripts/map_landing.js"></script>

   
      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#/">TripWale</a>
          <ul class="nav navbar-nav float-sm-right">
            <li class="nav-item active"><a href="#/register">Register</a></li>
            <li class="nav-item"><a href="#/login">Login</a></li>
            <li class="nav-item"><a href="#/trips/add">Plan a Trip</a></li>
            <li class="nav-item"><a href="#/explore">Explore</a></li>
            <li class="nav-item"><a href="#/trips">View all trips</a></li>    

          </ul>
        </div>
      </nav>
      
    <!--/.Navbar-->



   <div class="jumbotron background_jumbo">
   <div class="container">
  <h1 class="display-3">TripWale</h1>
  <p class="lead">An trip planning website that will help you plan a trip on a press of a button</p>
  <hr class="my-2">
  <p>A Cmpe280 Project made by team geekCoaders</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#/trips/add" role="button">Start Planning a trip</a>
  </p>
</div>
</div>

    <div class="container">

    
      

        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInDown">Recent Trips</h2>
        </div>

      
        <section id="best-features">
          <div  ng-init="getTrips()">
           
           
            
                <div ng-repeat="trip in trips | limitTo:6">
                   <div class="clearfix largeclear" ng-if="$index % 3 == 0"></div>
                   

                      <div class=" col-lg-4 col-md-6 col-sm-12 col-xs-12">


                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="{{trip.sightsdetails[0].photo}}" class="img-fluid" alt="">
                                <a href="#/trips/details/{{trip._id}}">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">{{trip.city}}</h4>
                                <!--Text-->
                                <p class="card-text">Travelled by: {{trip._user.name}}
                                    <hr>
                                Date Travelled: {{trip.create_date | date : longDate : timezone}}</p>
                                
                               
                            </div>
                            <!--/.Card content-->

                        </div>
                    </div>
                </div>
             
<hr>
 <a href="#/trips" class="href_btn"><button type="button" class="btn btn-primary btn_landing">View all trips</button></a>




          </div>

        </section>
       




              <div class="divider-new">
            <h2 class="h2-responsive wow bounceIn">About us</h2>
        </div>

   
        <section id="about" class="text-xs-center">

            <p>enthusiastic web developers reaching out to build a trip management with many feartures that helps users planning their trip walot easier. apart from trip management alot of other side features available to help you plan your trip more efficiently</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem harum deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam quidem, saepe eius.</p>

        </section>

                <div class="divider-new">
            <h2 class="h2-responsive wow fadeInUp">Contact us</h2>
        </div>
        <!--Section: Contact-->
        <section id="contact">
            <div class="row">
                <!--First column-->
                <div class="col-md-8">
                   
                    <!--Map container-->
                    <div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>

                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-md-4">
                    <ul class="text-xs-center">
                        <li><i class="fa fa-map-marker"></i>
                            <p>San Jose State University</p>
                        </li>

                        <li><i class="fa fa-phone"></i>
                            <p>+1 012 234 5678</p>
                        </li>

                        <li><i class="fa fa-envelope"></i>
                            <p>tripwale@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <!--/Second column-->
            </div>
        </section>
        <!--Section: Contact-->

    </div>


