  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">TripWale</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/trips/add">Add Trip</a></li>
            <li><a href="#/explore">Explore</a></li>
            <li><a href="#/register">Register</a></li>

           
            
            
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container">
  <div class="login-container">
      <div id="output"></div>
      <div class="avatar"></div>
      <div class="form-box">
        <form ng-submit="loginUser()">
            <input name="user" type="text"  class="form-control" ng-model="user.username" placeholder="username">
            <input type="password" placeholder="password" class="form-control" ng-model="user.password">
            <button class="btn btn-info btn-block login" type="submit">Login</button><br>
            <h4> Dont have an acoount? <a href="#/register"> <br>Register here </a> </h4>
        </form>
      </div>
   </div>
</div>

