

<div  ng-init="getTrips()">
    <div class="row">
            <header class="header-image">
                <div class="headline">
                    <div  id="header_img">
                    <div ><h2><span id="head_text"><marquee>COMING SOON: An app to Plan your trip </marquee></span></h2></div> 
                     <div ><h2><span id="head_mean"><a href="#/about">Mean while you can check about us section for any info.</a></span></h2></div> 
                     
                    </div> 
                </div>
            </header>
        <div ><h3><span id="head_button"><a href="#" id="headlink">Plan Your Trip</a></span></h3></div> 

        <div class="container">
        <div class="col-md-12">

            <!-- Footer -->
        </div>
        <div class="col-xs-12" style="height:50px;"></div>
        </div>
        </div>

    </div>