

    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#/">TripWale</a>
          <ul class="nav navbar-nav float-sm-right">
            
            <li class="nav-item"><a href="#/trips/add">Plan a Trip</a></li>
            <li class="nav-item"><a href="#/explore">Explore</a></li>
            <li class="nav-item"><a href="#/trips">View all trips</a></li>    
             <li class="nav-item"><a href="#/users/profile/{{user._id}}">Welcome {{user.user.name}}</a></li>

          </ul>
        </div>
      </nav>
      
      <br> <br>

    <div class="container">
<div class="panel panel-default" ng-init="getUser()">

  <div class="panel-body">
    <div class="row">

      <div class="col-md-12">
      
        <ul class="list-group">
          <li class="list-group-item"><h3><b>Name:</b> {{user.user.name}}</h3></li>
          <li class="list-group-item"><h3><b>Username:</b> {{user.user.username}}</h3></li>
          <li class="list-group-item"><h3><b>email:</b> {{user.user.email}}</h3></li>
        </ul>
       

        <br><h3> Places Travelled: </h3>




      <div ng-repeat="trip in user.trips">
       <div class="clearfix largeclear" ng-if="$index % 3 == 0"></div>
           <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-12">


                          <div class="card">

                                <!--Card image-->
                                <div class="view overlay hm-white-slight">
                                    <img src="{{trip.sightsdetails[0].photo}}" class="img-fluid" alt="">
                                    <a href="#">
                                        <div class="mask"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-block">
                                    <!--Title-->
                                    <h4 class="card-title">{{trip.city}}</h4>
                                    <!--Text-->
                                    <p class="card-text">Travelled by: {{user.user.name}}
                                        <hr>
                                        Places travelled:
                                      <ol>
                                        <li ng-repeat="sights in trip.sightsdetails"> {{sights.name}}</li>
                                      </ol><br>
                                    Date Travelled: {{trip.create_date | date : longDate : timezone}} <br>
                                     total time: {{trip.time/360}} hrs</p>
                                    
                                    <a href="#/trips/details/{{trip._id}}" class="btn btn-primary">More Details</a>
                                </div>
                                <!--/.Card content-->

                            </div>



                        
            </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>