      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#/">TripWale</a>
          <ul class="nav navbar-nav float-sm-right">
            <li class="nav-item active"><a href="#/login">login</a></li>
            
            <li class="nav-item"><a href="#/trips/add">Plan a Trip</a></li>
            <li class="nav-item"><a href="#/explore">Explore</a></li>
            <li class="nav-item"><a href="#/trips">View all trips</a></li>    

          </ul>
        </div>
      </nav>

<br> <br> <br>



<div class="container new_login">
<div class="form_login" align="center">
   
    <div class="form-container" align="center">
        <form ng-submit="addUser()">

           <label for="Text" class="form-label">
             <h2 class="login-tittle"> Register </h2>
           </label>
            <label for="userName" class="form-label">
               
                  <input name="user" type="text"  ng-model="user.username" placeholder="user">
            </label>
            <br>
            <label for="password" class="form-label">
             
                <input type="password"  ng-model="user.password" placeholder="password">
            </label>
            <br>
            <label for="email" class="form-label">
               
              <input name="email" type="text"  ng-model="user.email" placeholder="Email">
            </label>
            <br>
            <label for="name" class="form-label">
             
               <input name="name" type="text" ng-model="user.name" placeholder="Name">
            </label>
            
            <button type="submit" class="btn btn-primary sign-button">Register</button>
        </form>
        
        <p class="sign-up">Already have an account?  <a href="#/login">Sign in here</a></p>
    </div>
</div>
  
</div>

