      <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#/">TripWale</a>
          <ul class="nav navbar-nav float-sm-right">
            <li class="nav-item active"><a href="#/register">Register</a></li>
            <li class="nav-item"><a href="#/login">Login</a></li>
            <li class="nav-item"><a href="#/trips/add">Plan a Trip</a></li>
            <li class="nav-item"><a href="#/explore">Explore</a></li>
            <li class="nav-item"><a href="#/trips">View all trips</a></li>    

          </ul>
        </div>
      </nav>

      <br><br>
    <div class="container">
<div class="panel panel-default" ng-init="getTrips()">
    <div class="divider-new">
            <h2 class="h2-responsive wow bounceIn">All trips</h2>
        </div>
  <div class="panel-body">
    <div class="row">
        <div ng-repeat="trip in trips">
         <div class="clearfix largeclear" ng-if="$index % 3 == 0"></div>

          <div class=" col-lg-4 col-md-6 col-sm-6 col-xs-12">
                          

                    <div class="card">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="{{trip.sightsdetails[0].photo}}" class="img-fluid" alt="">
                                <a href="#">
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">{{trip.city}}</h4>
                                <!--Text-->
                                <p class="card-text">Travelled by: {{trip._user.name}}
                                    <hr>
                                Date Travelled: {{trip.create_date | date : longDate : timezone}}</p>

                                 <div class="panel-body">
                                       Places travelled:
                                      <ol>
                                        <li ng-repeat="sights in trip.sightsdetails">{{sights.name}}</li>
                                      </ol>

                                       <hr>
                                    <p id="proj_desc">Date Travelled: {{trip.create_date | date : longDate : timezone}}</p>
                                    
                                    <a class="btn btn-primary" href="#/trips/details/{{trip._id}}">View Details</a>
                                </div>
                                
                               
                            </div>
                            <!--/.Card content-->

                        </div>

                        </div>




            
                
                
                

        
        </div>
    </div>
  </div>
</div>
</div>