<a href="#/trips">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Trip</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addInput()">
 <div id="right-panel">
       <div>
    
    <b>Start:</b>
    <select id="start">
      <option value="Halifax, NS">Halifax, NS</option>
      <option value="Boston, MA">Boston, MA</option>
      <option value="San Francisco, CA">San Francisco, CA</option>
      <option value="San Jose, CA">San Jose, CA</option>
    </select>
    <br>
    <b>Waypoints:</b> <br>
    <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
    <select multiple id="waypoints">
      <option value="golden gate bridge">Golden gate</option>
      <option value="montgomery bart station">downtown</option>
      <option value="Twin peaks san Francisco">Twin peaks</option>
      
    </select>
    <br>
    <b>End:</b>
    <select id="end">
      <option value="Vancouver, BC">Vancouver, BC</option>
      <option value="Miami, FL">Seattle, WA</option>
      <option value="San Francisco, CA">San Francisco, CA</option>
      <option value="San Jose, CA">San Jose, CA</option>
    </select>
    <br>
      <input type="submit" id="submitInput">

    </div>
    </div>

       
  
