
  <script src="/scripts/trip_details.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI19wnbHIh6JDz7IanAKOzySUQ_uqrNqo&callback=initMap"
    async defer></script>

     <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#/">TripWale</a>
          <ul class="nav navbar-nav float-sm-right">
            
            <li class="nav-item"><a href="#/trips/add">Plan a Trip</a></li>
            <li class="nav-item"><a href="#/explore">Explore</a></li>
            <li class="nav-item"><a href="#/trips">View all trips</a></li>   
            

          </ul>
        </div>
      </nav>
<br> <br>
<div class="container">
<div class="panel panel-default" ng-init="getTrip()">

  <div class="panel-body">
    <div class="row">

      <div class="col-md-8">
        <h2>{{trip.city}}</h2>
        Traveller: {{trip._user.name}}<br><br>
        <ul class="list-group">
          
          
          <li class="list-group-item"><b>Start point:</b> {{trip.startpoint}}</li>
          <li class="list-group-item"><b>End point:</b> {{trip.endpoint}}</li>
          <li class="list-group-item"><b>Time taken: </b>{{trip.time/60}} mins</li>

          <li class="list-group-item">
            Places visited:
          <ul>
              <li ng-repeat="sight in trip.sightsdetails">
                  {{sight.name}}
              </li>

          </ul></li>


        </ul>
 
      </div>
    </div>
  </div>
</div>

</div>
<div class="container"><p> Places visited</p>
<div ng-repeat="sight in trip.sightsdetails | orderBy: 'created_date':true">

  <div class="clearfix largeclear" ng-if="$index % 3 == 0"></div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" >
                   
              <div class="card">

                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img src="{{sight.photo}}" class="img-fluid" alt="">
                     
                          <div class="mask"></div>
                      
                  </div>
                  <!--/.Card image-->

                  <!--Card content-->
                  <div class="card-block">
                      <!--Title-->
                      <h4 class="card-title">{{sight.name}}</h4>
                      <!--Text-->
                      
                          <hr>

                          <p class="card-text">
                     
                      
                      
                  </div>
                  <!--/.Card content-->

              </div>




            
          </div>
        </div>
</div>

</div>





